* {
  padding: 0;
  margin: 0;
  list-style: none;
}
header {
  background-color: #00c2af;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #008a7d;
}
.m-main{background-color: #f1efed;}
.white{color: #fff;}
.yellow{color: #ff9c00;}
.pink {color: #ff40a4;}
.orange {color: #ff8700;}
.m-hd1 {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  line-height: 2;
}
.m-hd1-1 {
  margin: 0.8em 0 0 0.3em;
  width: 0;
  height: 0;
  border: 0.3em solid transparent;
  border-top: 0.5em solid rgba(255, 255, 255, 0.5);
}
.m-hd1>.m-hd1-1:after {
  content: "";
  border: 0.3em solid transparent;
  border-top: 0.5em solid #00c2af;
  position: relative;
  left: -0.3em;
  top: -0.5em;
}
.m-hd2 {
  background-color: #00a595;
  height: 5em;
  border-radius: 3px;
  color: #00dacd;
  font-size: 0.5em;
  display: flex;
  align-items: baseline;
  padding: 0px;
  text-indent: 2em;
  flex-grow: 1;
}
.m-hd2 svg{
	padding-top: 0.5em;
	padding-left: 0.5em;
}
.m-hd2 input {
  height: 100%;
  flex-grow: 1;
  padding-left: 1em;
  background: none;
  border: none;
  outline: none;
}
::placeholder {
  color: #00dacd;
  font-size: 2.2em;
  font-weight: 700;
}
.m-hd3 {
  text-align: center;
  padding: 0.4em 0;
}
.m-hd4 {
  padding: 1em;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #e0d9cf;
}
.m-hd4 li:nth-child(4) {
  margin-bottom: 1em;
}
.m-o {
  width: 3em;
  height: 3em;
  border-radius: 1.5em;
  margin: auto;
}
.m-o-1 {
  background-color: #ff8905;
}
.m-o-2 {
  background-color: #ff6640;
}
.m-o-3 {
  background-color: #7089f6;
}
.m-o-4 {
  background-color: #00cdf0;
}
.m-o-5 {
  background-color: #ffbb53;
}
.m-hd5 {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
  border-top: solid 1px #e0d9cf;
  border-bottom: solid 1px #e0d9cf;
}
.m-hd5 p {
  font-size: 0.8em;
}
.m-hd5 em {
  font-style: normal;
  font-weight: 600;
  font-size: 1.2em;
}
.m-hd5>.m-img {
  background-color: #666666;
  box-sizing: border-box;
  border: solid 1px #c1c1c1;
}
.m-hd5-1 {
  margin: 0.5em 0;
  padding: 0.2em 0 0.3em 1.2em;
  box-sizing: border-box;
  border-right: solid 1px #e0d9cf;
}
.m-hd5-1 em {
  color: #00a500;
}
.m-hd5-1>.m-img {
  width: 7em;
  height: 7em;
}
.m-hd5-2 {
  padding: 0 0.5em 0 0;
}
.m-hd5-2-1 {
  box-sizing: border-box;
  padding: 0.5em 2em 0.5em 1em;
  border-bottom: solid 1px #e0d9cf;
}
.m-hd5-2-1 em {
  color: #ff3d00;
  float: left;
}
.m-hd5-2-1 p {
  float: left;
  clear: left;
}
.m-hd5-2-1>.m-img {
  width: 5em;
  height: 5em;
  float: right;
  margin-top: -1.7em;
}
.m-hd5-3 {
  border-right: solid 1px #e0d9cf;
  padding: 0.3em 1em;
}
.m-hd5-3>.m-img {
  width: 3em;
  height: 3em;
  margin: 0.3em 1.5em;
}
.m-hd5-4{
  padding: 0.5em 1.5em;
}
.m-hd5-4 p {
  margin: 0 0 0.2em 0;
}
.m-hd5-4 .time span {
  color: #fff;
  display: inline-block;
  text-align: center;
  font-size: 0.8em;
  background-color: #4b4b4b;
  width: 2em;
  height: 1.5em;
  border-radius: 3px;
}
.m-hd6 {
  margin-top: 1em;
  background-color: #fff;
  border-top: solid 1px #e0d9cf;
  border-bottom: solid 1px #e0d9cf;
}

.m-hd6 > div {
  padding: 0.8em 0.5em 0.5em 1.5em;
  color: #b6b6b6;
}
.m-hd6-1 {
  border-right: solid 1px #e0d9cf;
}
.m-hd6 em {
  font-style: normal;
  font-weight: 600;
  font-size: 1.2em;
}
.m-hd6 .m-img {
  width: 5em;
  height: 5em;
  background-color: #666666;
  box-sizing: border-box;
  border: solid 1px #c1c1c1;
  float: right;
  margin-top: -4em;
}
.m-hd7 {
  margin-top: 1em;
  background-color: #fff;
}
.m-hd7>.title {
  font-size: 1.2em;
  padding: 0.2em 0.3em;
}
.m-hd7 {
  padding-left: 0.5em;
}
.m-hd7 li {
  border-top: solid 1px #e0d9cf;
  padding: 0.5em 0.5em 0.5em 0;
  display: flex;
}
.m-img {
  width: 6em;
  height: 5.5em;
  background-color: #666666;
}
.m-hd7-2:before {
  content: "";
  display: block;
  position: absolute;
  left: -23.5px;
  top: 1px;
  width: 70px;
  border: solid 18px transparent;
  border-bottom: solid 18px #00c3af;
  transform: rotate(-45deg);
}
.m-hd7-2:after {
  content: "免预约";
  position: absolute;
  top: 18px;
  display: block;
  color: #fff;
  font-size: 1px;
  transform: rotate(-45deg);
}
.m-hd7-3 {
  padding: 0.1em 0.5em;
  width: 100%;
}

.m-hd7-3>.title2{
  font-size: 1.1em;
}
.m-hd7-3>.m-hd7-4{
  margin-top: 0.7em;
  display: flex;
  flex-direction: row;
}
.m-hd7-4>.price {
  color: #00c2af;
}
.m-hd7-4>.tag {
  border: solid 1px #ff9a00;
  padding: 0 0.2em;
  color: #ff9a00;
  border-radius: 3px;
  margin-left: 1em;
  height: 1.8em;
  line-height: 1.7;
}
.m-hd7-4>.price2 {
  margin-left: 0.5em;
  height: 1.8em;
  line-height: 2.3;
}
.m-hd7-4>.price3 {
  flex-grow: 1;
  text-align: right;
}
.m-hd7-4 span {
  font-size: 1.5em;
  font-weight: 600;
}
.m-hd8 {
  background-color: #8fc6ea;
  border-top: solid 1px #e0d9cf;
  margin-top: -1em;
  height: 3em;
  line-height: 3;
  color: #00b2ce;
}
